/* .coin {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .coin-icon {
    width: 24px;
    height: 24px;
    background-image: url(''); /* Replace 'coin-icon.png' with the actual path to your coin icon image 
    background-size: cover;
    margin-right: 5px;
  } */