/* .cntnr{
  --s: 50px; /* control the size 
  
  --c:#0000,#2FB8AC .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    #ECBE13;
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
  /* 3.46 = 2*sqrt(3)
     1.73 = sqrt(3)  
  
} */
.wrapper{
  margin-top: 10vh;


}
/* .one-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: 20vh;
  background-color: #fff;
  scroll-snap-align: start;
} */
.card-border {
  z-index: 0;
  position: relative;
  padding: 1rem;
  width: 300px;
  height: 350px;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(40px);
  border-radius: 0px 2rem;
  background-image: radial-gradient(#2121218a, #212121cc),
    linear-gradient(35deg, rgb(95, 7, 69) 62%, rgb(194, 46, 150) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1px 3rem rgb(194, 46, 150);
  transition: all 0.5s;
  animation: pulse_3011 3s infinite;
}

.card-bg {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 0.8rem;
  background: linear-gradient(
    346.8deg,
    #c22e96 30%,
    #c22e96 30%,
    rgba(255, 70, 84, 0) 30%,
    rgba(255, 70, 84, 0) 32%,
    #c22e96 32%,
    #c22e96 35%,
    transparent 35%
  );
}
/* #FFB411 #00ADED #C22E96 */
strong {
  display: flex;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  font-size: 4rem;
  font-weight:900;
  align-items: center;
  letter-spacing: 0.7rem;
}

/* 
#text-border {
  position: absolute;
  z-index: 2;
  top: 15.35rem;
  left: 1.5rem;
  width: 100%;
  height: fit-content;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFB411;
  background: linear-gradient(90deg, transparent 100%, #FFB411 65%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
} */

#text-ext {

  display: flex;
  position: absolute;
  z-index: 1;
  inset: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  background: linear-gradient(
    346.8deg,
    #ffb411 30%,
    #ffffff 30%,
    #ffb411 30%,
    #ffb411 32%,
    #ffffff 32%,
    #ffb411 35%
  );
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10rem 0 0 0.7rem;
}

.marquee {
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  --offset: 2rem;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-85% + var(--offset));
  border-radius: 0px 1rem;
  filter: opacity(0.3);
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: slide 60s linear infinite;
  border-radius: 0px 1rem;
}

.marquee__inner {
  animation-play-state: running;
}

#blur-area {
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0;
  /* border: 1px solid rgb(12, 255, 65); */
  border-radius: 0 1rem;
  backdrop-filter: blur(3px);
  background: linear-gradient(90deg, transparent 0%, #00000044 100%);
}

.viper {
  display: flex;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  font-size: 6rem;
  font-weight: 900;
  align-items: center;
  line-height: 0.9em;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.container-logo {
  display: flex;
  position: absolute;
  width: 3.5rem;
  height: 3em;
  top: 1rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.logo {
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    #c22e96 0%,
    #fff 10%,
    #c22e96 25%,
    #0d381c 50%,
    #c22e96 70%,
    #c22e96 90%
  );
  animation: spin 5s linear infinite;
}

.logo-inside {
  display: flex;
  width: 85%;
  height: 85%;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #212121;
}

.first,
.second {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #c22e96;
}

.first {
  clip-path: polygon(0 10%, 70% 90%, 35% 90%, 0 50%);
}

.second {
  clip-path: polygon(100% 10%, 100% 50%, 88% 65%, 55% 65%);
}

.mist-container {
  position: absolute;
  width: 450px;
  height: 150px;
  overflow: hidden;
  filter: blur(1rem);
  top: 60%;
  left: 0;
}

.mist {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(131, 255, 158, 0.63) 10%,
    rgba(255, 255, 255, 0) 50%
  );
  animation: mist 10s infinite both;
}

svg {
  position: absolute;
  top: 0%;
  width: 18rem;
  height: 100%;
  z-index: -2;
}

.card-border:hover {
  transform: rotateY(20deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes mist {
  0% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(0deg);
    opacity: 0.3;
  }

  50% {
    transform: translateX(0%) translateY(50%) scaleY(-10.3) rotate(20deg);
    opacity: 0.5;
  }

  100% {
    transform: translateX(-50%) translateY(0%) scaleY(0.7) rotate(-20deg);
    opacity: 0.3;
  }
}

@keyframes pulse_3011 {
  0% {
    box-shadow: 0 0 1rem rgb(194, 46, 150);
  }

  70% {
    box-shadow: 0 0 2rem rgb(194, 46, 150);
  }

  100% {
    box-shadow: 0 0 1rem rgb(194, 46, 150);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
